# Prettier ignore file
node_modules/
.next/
.git/
.vscode/
*.log
*.lock
pnpm-lock.yaml
package-lock.json
yarn.lock
dist/
build/
*.min.js
*.min.css
coverage/
.coverage/
*.tsbuildinfo
.env*
.DS_Store
public/
*.md
CHANGELOG.md
*.config.js
*.config.mjs
*.config.ts
tailwind.config.ts
next.config.mjs
postcss.config.mjs
